<nav class="bg-blue-600 text-white p-4">
  <div class="container mx-auto flex justify-between items-center">
    <!--logo-->
    <img class="logo-navbar" src="../../../assets/img/Rulienta_FondoTransparenteBLANCO.png" alt="Rulienta">
    <!-- <h1 class="text-2xl font-bold">Rulienta</h1> -->
    <ul class="flex space-x-6">
      <li><a href="#" class="hover:text-gray-200">Home</a></li>
      <li><a href="#about" class="hover:text-gray-200">About</a></li>
      <li><a href="#portfolio" class="hover:text-gray-200">Portfolio</a></li>
      <li><a href="#contact" class="hover:text-gray-200">Contact</a></li>
    </ul>
  </div>
</nav>
